{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
<h1>Reservations</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.title }}</td>
            <td>{{ reservation.startDate|date('Y-m-d H:i') }}</td>
            <td>{{ reservation.endDate|date('Y-m-d H:i') }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No reservations found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}
